<head>

  <meta name="description" content="dashboard">
  <meta name="author" content="Sid">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/fontawesome-all.css">
  <link rel="stylesheet" href="../css/myCss.css" />
  <script src="../js/jquery-2.2.4.min.js"></script>
  <script src="../js/jquery.mask.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/healthtrack_form_validation.js"></script>

  <div class="myAlert-top alert alert-success" id="alertTop">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{success_message}}</strong>
  </div>
  <div class="myAlert-bottom alert alert-danger" id="alertBottom">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{error_message}}</strong>
  </div>

  <title>Health Track</title>
</head>

