  <!-- Declaração obrigatória para o funcionamento do framework. -->
  <!Doctype html>
  <html lang="en">

  <head>
{{>header}}
  <body>
    <div class="container-fluid">
      <div class="row">
        <h2>HealthTrack</h2>
      </div>
      <div class="row justify-content-between">
        <spam>Email enviado com sucesso</spam>
      </div>
   </div>

 </body>
 </html>