<!DOCTYPE html>
<html>

<head>
    <title>Redefinição da sua senha</title>
</head>

<body>
    <div>
        <h3>{{pronome}} {{name}},</h3>
        <p>Você solicitou redefinição da sua senha, Por favor use este link <a href="{{url}}">link</a>para prosseguir</p>
        <br>
        <p>Abraços!</p>
    </div>
   
</body>

</html>