<!-- Declaração obrigatória para o funcionamento do framework. -->
<!Doctype html>
<html lang="en">
{{>header}}

<body>
  <div class="container-fluid">
    <div class="row">
      <h2>HealthTrack</h2>
    </div>
    <div class="row justify-content-between">
      <section class="col-md-auto">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Minhas pesagens</li>
          </ol>
        </nav>
      </section>
      <section class="col-md-7"></section>
    </div>

    <div class="card col-md-10" style="padding: 20px;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">
              <div style="width: 100px;">Peso (em kg)</div>
            </th>
            <th scope="col">Data </th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          {{#each pesos}}
          <tr>
            <td>{{this.quilos}}</td>
            <td>{{formatDate this.data}}</td>
            <td><a href="/peso/{{this.id}}"><i class="fas fa-edit"></i></a> </td>
            <td>
              <form id="delete" action="/save_peso/{{this.id}}" method="post">
                <a href="#" onClick="if (confirm('Tem certeza que deseja remover esse registro?')){document.getElementById('delete').submit()}"><i
                    class="fas fa-trash-alt"></i></a></form>
            </td>
          </tr>
          {{/each}}
          </tr>
        </tbody>
      </table>
      <form>
        <a role="button" class="btn btn-primary" href="/addPeso">Nova pesagem</a>
      </form>

    </div>

  </div>

</body>

</html>