body {
	background:url(../img/bg.jpg) no-repeat !important;
	padding-top:100px;
	padding-left:100px;
	background-size:cover;
	font-family: 'Open Sans', sans-serif;

}

a{text-decoration: none !important}

.alerta {
    color: red;
    font-weight: bold;
}

.myAlert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

div.fullscreen {
  position: absolute;
  width:100%; 
  height:960px; 
  top: 0; 
  left: 0; 
  background-color: lightblue;
}


;
